            body { 
                background-color: rgba(0, 0, 0, 0); 
                margin: 0px auto; 
                overflow: hidden; 
                font-family: 'Cast W01 Medium', monospace;
                font-size: 13px;
                color: #F8F8FF;
            }

            .Blink {
                animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
            }

            @keyframes blinker {  
                from { opacity: 1; }
                to { opacity: 0; }
            }

            .top-right{
                float: right;
                width: auto;
                text-align: right;
            }
            
            .top-right-container{
                float: right;
                width: auto;
                text-align: right;
                background-color: rgba(0,0,0,0.5);
                padding: 5px;
                margin: 10px;
                -moz-border-radius: 10px;
                -webkit-border-radius:10px;
                border-radius:10px;
                display: none;
            }

            .container{
                width: 100wh;
                height: 100vh;
            }